
        .ver{
            color: green
        }
        .blu{
            color: blue;
        }
        .ye{
            background-color: yellow;
        }
        .or{
            background-color: orange;
        }
        .post{
            background-color: grey;
        }
    